$primary-background-color: white;
$primary-text-color: black;

$accent-background-color: black;
$accent-text-color: white;
$accent-inactive-color: lightgray;

$navigation-height: 10vh;

$transition-time: 1s;
