$primary-background-color: white;
$primary-text-color: black;

$accent-background-color: black;
$accent-text-color: white;
$accent-inactive-color: lightgray;

$secondary-background-color: pink;
$secondary-text-color: black;

$border-radius: 8px;

$navigation-height: 10vh;
$horisontal-padding: 5vw;
$card-top-distance: 5vmin;

$transition-time: 0.3s;
