@import "../helpers/index.scss";

.Button {
  padding: 2vmin;
  background-color: $primary-color;
  color: $white;
  border-radius: $border-radius;
  cursor: pointer;
  &:hover {
    color: $accent-color;
    transition: $transition-time;
  }
  &--outlined {
    border: 1px solid $primary-color;
    background-color: transparent;
    color: $primary-color;
    &:hover {
    }
  }
}
