@import "../helpers/index.scss";

.CharacterCard {
  overflow: hidden;
  border-radius: $border-radius;
  border: 1px solid $inactive-color;
  display: flex;
  flex-direction: column;
  &:hover {
    transition: 0.7 * $transition-time;
    box-shadow: 0px 0px 7px rgba(160, 182, 255, 0.4);
    transform: scale(1.01, 1.01);
  }

  &__description {
    display: grid;
    justify-items: start;
    grid-row-gap: 2vmin;

    padding: 2vmin;
  }
  &__name {
    font-weight: 500;
  }
  &--vertical {
    .CharacterCard__location,
    .CharacterCard__first-episode {
      display: none;
    }
  }
  &--horizontal {
    &:hover {
      transition: 0;
      box-shadow: none;
      transform: none;
    }
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    .CharacterCard__img {
      order: 2;
    }
    .CharacterCard__location,
    .CharacterCard__first-episode {
      display: block;
    }
    .CharacterCard__name {
      font-size: 3rem;
    }
  }
}
