@import "../helpers/index.scss";

.CharacterCard {
  overflow: hidden;
  border-radius: $border-radius;
  border: 1px solid $accent-inactive-color;
  display: flex;
  flex-direction: column;
  &:hover {
    box-shadow: 5px 5px 5px rgba(160, 182, 255, 0.4);
    //!!!
  }

  &__description {
    display: grid;
    justify-items: start;
    grid-row-gap: 2vmin;

    padding: 2vmin;
  }
  &__name {
    font-weight: 500;
  }
  &--vertical {
    .CharacterCard__location,
    .CharacterCard__first-episode {
      display: none;
    }
  }
  &--horizontal {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    .CharacterCard__img {
      order: 2;
    }
    .CharacterCard__location,
    .CharacterCard__first-episode {
      display: block;
    }
  }
}
