@import "../helpers/index.scss";

.Navigation {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;

  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-column-gap: 2vw;
  align-items: center;

  height: $navigation-height;
  padding: 3vh $horisontal-padding;
  background-color: $primary-color;
  color: $white;

  &__link {
    text-decoration: none;
    color: $inactive-color;
    &--active {
      color: $white;
    }
    &:hover {
      transition: $transition-time;
      color: $accent-color;
    }
  }
  &__favourite-count {
    justify-self: end;
  }
  @media only screen and (max-width: $mobile-media-limit) {
    height: $mobile-navigation-height;
  }
}
